In [1]:
import pandas as pd

In [2]:
train=pd.read_csv("train.tsv",sep="\t")
train.head()

                                            sentence  label
0       hide new secretions from the parental units       0
1               contains no wit , only labored gags       0
2  that loves its characters and communicates som...      1
3  remains utterly satisfied to remain the same t...      0
4  on the worst revenge-of-the-nerds clichés the ...      0

In [3]:
val=pd.read_csv("dev.tsv",sep="\t")
val.head()

                                            sentence  label
0    it 's a charming and often affecting journey .       1
1                 unflinchingly bleak and desperate       0
2  allows us to hope that nolan is poised to emba...      1
3  the acting , costumes , music , cinematography...      1
4                  it 's slow -- very , very slow .       0

In [4]:
val.shape

(872, 2)

In [5]:
train.shape

(67349, 2)

In [6]:
train_bert=pd.DataFrame({"id":range(train.shape[0]),
                         "label":train["label"],
                         "alpha":["a"]*train.shape[0],
                         "text":train["sentence"]
                        })
train_bert.head()

   id  label alpha                                               text
0   0      0     a       hide new secretions from the parental units
1   1      0     a               contains no wit , only labored gags
2   2      1     a  that loves its characters and communicates som...
3   3      0     a  remains utterly satisfied to remain the same t...
4   4      0     a  on the worst revenge-of-the-nerds clichés the ...

In [8]:
train_bert.to_csv("data/train.tsv",sep="\t",index=False,header=False)